<div class="sidebar">
    <h2>Repair Requests List</h2>
    <a href="{% url 'admin_dashboard' %}"><i class="fa fa-home"></i> Dashboard</a>
    <a href="{% url 'admin_repair_requests' %}"><i class="fa fa-chart-bar"></i> Repair Requests</a>
    <a href="{% url 'admin_appointments' %}"><i class="fa fa-cog"></i> Appointments</a>
    <a href="{% url 'admin_quotes' %}"><i class="fa fa-users"></i> Quotes</a>
    <a href="{% url 'admin_vehicles' %}"><i class="fa fa-users"></i> Vehicles</a>
    <a href="{% url 'admin_maintenance_articles' %}"><i class="fa fa-users"></i> Maintenance Articles</a>
</div>